<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
      <title>Will our clients cancel?</title>
   </head>
   <style>
       html, body {
            margin: 0;
            height: 100%;
           background-color:#DDDDDD;
        }
   </style>
   <body>
   <section>
       <br>
   </section>
      <section class="container">
          <div class="box">
            <div class="tile is-parent">
              <article class="tile is-child">
                <p class="title">Will our clients cancel?</p>
                <p class="subtitle">Please fill out this form.</p>
                <div class="content">
                    <hr class="is-primary">
                </div>
              </article>
            </div><!-- tile -->
              <form id="predform" method="POST" action="/churn">
                  <div class="columns is-variable">
                    <div class="column is-primary">
                        <div class="notification">
                            <div class="field">
                              <label class="label" for="id">Id</label>
                              <div class="control">
                                <input class="input" type="text" id="id" name="id">
                              </div>
                            </div>
                            <div class="field">
                              <label class="label" for="customer">Customer</label>
                              <div class="control">
                                <input class="input" type="text" id="customer" name="customer">
                              </div>
                            </div>
                            <div class="field">
                              <label class="label" for="surname">Surname</label>
                              <div class="control">
                                <input class="input" type="text" id="surname" name="surname">
                              </div>
                                <p class="help">String</p>
                            </div>
                            <div class="field">
                              <label class="label" for="score">Score</label>
                              <div class="control">
                                <input class="input" type="text" id="score" name="score">
                              </div>
                            </div>
                            <div class="field">
                              <label class="label" for="geography">Geography</label>
                              <div class="control">
                                <input class="input" type="text" id="geography" name="geography">
                              </div>
                                <p class="help">String</p>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                      <label class="label" for="gender">Gender</label>
                                      <div class="control">
                                          <div class="select">
                                              <select id="gender" name="gender">
                                                <option value="" disabled>----------Choose----------</option>
                                                <option value="Female">Female</option>
                                                <option value="Male">Male</option>
                                              </select>

                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                      <label class="label" for="age">Age</label>
                                      <div class="control">
                                        <input class="input" type="text" id="age" name="age">
                                      </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                      <div class="column is-primary">
                          <div class="notification">
                              <div class="field">
                                  <label class="label" for="tenure">Tenure</label>
                                  <div class="control">
                                    <input class="input" type="text" id="tenure" name="tenure">
                                  </div>
                                </div>
                              <div class="field">
                                  <label class="label" for="balance">Balance</label>
                                  <div class="control">
                                    <input class="input" type="text" id="balance" name="balance">
                                  </div>
                                </div>
                              <div class="field">
                                  <label class="label" for="products">Products</label>
                                  <div class="control">
                                    <input class="input" type="text" id="products" name="products">
                                  </div>
                                </div>
                              <div class="field">
                                  <label class="label" for="crcard">Crcard</label>
                                  <div class="control">
                                    <input class="input" type="text" id="crcard" name="crcard">
                                  </div>
                                </div>
                              <div class="field">
                                  <label class="label" for="activemember">Active Member</label>
                                  <div class="control">
                                    <input class="input" type="text" id="activemember" name="activemember">
                                  </div>
                                </div>
                              <div class="field">
                                  <label class="label" for="salary">Salary</label>
                                  <div class="control">
                                    <input class="input" type="text" id="salary" name="salary">
                                  </div>
                                </div>
                          </div>
                    </div>
                  </div>
                  <footer>
                      <div class="field is-grouped is-grouped-right">
                          <p class="control">
                              <button type="submit" class="button is-primary has-text-white">Submit</button>
                          </p>
                          <p class="control">
                              <button type="submit" class="button is-light" onclick="clearForm(); return false">Clear</button>
                          </p>
                        </div>
                  </footer>
              </form>

          </div> <!-- box -->
      </section>
      <section>
          <br>
      </section>
       <script>
             function clearForm() {
                document.getElementById("predform").reset();

             }
       </script>
   </body>
</html>

